body{
  display: flex;
  justify-content: center;

}
button{
  padding: 10px;
  background-color: rgb(169, 82, 213);
  color: black;
  border: 2px solid black;
}
.main-container{
  display:flex;
  gap: 10px;
}